torch
torchaudio
torchvision
opencv-python-headless
mediapipe
librosa
fastapi
uvicorn
python-multipart
streamlit
pesq
pystoi
torchmetrics
numpy
scipy
soundfile
matplotlib
tensorboard
tqdm
pandas
plotly
openai-whisper
